*.json
*.html
assets/lightbox
assets/css/font-awesome
assets/img
assets/fonts
jquery-3.2.1.min.js
favicon.png
inc/
.htaccess
.DS_Store
robots.txt
sitemap.xml
music/*
!music/delete
!music/directory
!music/upload
!music/default
!music/index.php